/*! Custom styles for this template */
html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-brand-center {
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap; }

.navbar-collapse {
  border-top: none;
  box-shadow: none; }

.navbar-toggler .arrow-up:before,
.navbar-toggler .arrow-up:after {
  bottom: 0;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s; }

.navbar-toggler.collapsed .arrow-up:before,
.navbar-toggler.collapsed .arrow-up:after {
  bottom: -8px; }

.navbar-toggler .ellipsis-object {
  background-color: #fff;
  border: 1px solid #fff; }

.navbar-account-btn {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 7px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

.navbar-upgrade-heading {
  line-height: 1.53846;
  margin-bottom: 0;
  margin-top: 0; }

.navbar-upgrade-notification {
  color: inherit;
  display: block; }

.navbar-upgrade-version {
  color: #808080;
  padding: 5px 15px; }

.navbar-search {
  display: block;
  height: 70px;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  width: 400px; }

.navbar-search-toggler {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 70px;
  left: 0;
  line-height: 70px;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px; }

.navbar-search-input {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  font-size: 13px;
  height: 70px;
  line-height: 70px;
  outline: none;
  padding-left: 70px;
  padding-right: 70px;
  text-overflow: ellipsis;
  width: 100%; }

.navbar-search-adv-btn {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 10px;
  line-height: 20px;
  min-width: 70px;
  outline: none;
  padding: 15px 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right; }

.navbar-search-collapsed {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  width: 70px; }

.navbar-search-collapsed .navbar-search-adv-btn {
  right: -70px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.dropdown-menu-lg {
  padding: 0;
  width: 420px; }

.dropdown-header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px; }

.dropdown-body {
  height: 304px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; }

.dropdown-heading {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden; }

.dropdown-link {
  float: right;
  line-height: 20px; }

.dropdown-btn {
  background-color: transparent;
  background-image: none;
  border-color: #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-style: solid;
  border-width: 1px 0 0;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%; }

.dropdown-btn:hover,
.dropdown-btn:focus {
  background-color: #C00D0E;
  border-color: #C00D0E;
  color: #fff;
  text-decoration: none; }

.notification:before,
.notification:after {
  content: " ";
  display: table; }

.notification:after {
  clear: both; }

.notification-media {
  float: left;
  margin-right: 10px; }

.notification-content {
  overflow: hidden; }

.notification-heading {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0; }

.notification-timestamp {
  float: right;
  font-size: 12px;
  line-height: 20px; }

.notification-text {
  margin-bottom: 0; }

.sidenav-toggler {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  float: left;
  height: 70px;
  line-height: 70px;
  margin-left: -15px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width: 70px; }

.sidenav-toggler.collapsed {
  width: 60px; }

.navbar-default .navbar-header {
  background-color: #C00D0E; }

.navbar-default .navbar-toggler .arrow-up:before,
.navbar-default .navbar-toggler .arrow-up:after {
  border-bottom-color: #fff; }

.navbar-default .navbar-account-btn {
  color: #777; }

.navbar-default .navbar-account-btn:hover,
.navbar-default .navbar-account-btn:focus {
  background-color: #fff;
  color: #C00D0E; }

.navbar-default .open .navbar-account-btn,
.navbar-default .open .user-account-btn:hover,
.navbar-default .open .user-account-btn:focus {
  background-color: #ddd;
  color: #222; }

.navbar-default .navbar-search-collapsed {
  background-color: #fff;
  color: #777; }

.navbar-default .navbar-search-toggler {
  color: #777; }

.navbar-default .navbar-search-toggler:hover {
  background-color: #fff;
  color: #C00D0E; }

.navbar-default .navbar-search-input {
  color: #777; }
  .navbar-default .navbar-search-input::-moz-placeholder {
    color: #ddd;
    opacity: 1; }
  .navbar-default .navbar-search-input:-ms-input-placeholder {
    color: #ddd; }
  .navbar-default .navbar-search-input::-webkit-input-placeholder {
    color: #ddd; }

.navbar-default .navbar-search-adv-btn {
  color: #777; }

.navbar-default .sidenav-toggler.collapsed {
  background-color: #C00D0E; }

.navbar-default .sidenav-toggler .bar-line.in {
  background-color: #C00D0E; }

.navbar-inverse .navbar-toggler .arrow-up:before,
.navbar-inverse .navbar-toggler .arrow-up:after {
  border-bottom-color: #C00D0E; }

.navbar-inverse .navbar-account-btn {
  color: #fff; }

.navbar-inverse .navbar-account-btn:hover,
.navbar-inverse .navbar-account-btn:focus {
  background-color: #d10e0f;
  color: #fff; }

.navbar-inverse .open .navbar-account-btn,
.navbar-inverse .open .user-account-btn:hover,
.navbar-inverse .open .user-account-btn:focus {
  background-color: #d10e0f;
  color: #fff; }

.navbar-inverse .navbar-search {
  background-color: #d10e0f;
  color: #fff; }

.navbar-inverse .navbar-search-collapsed {
  background-color: #C00D0E;
  color: #fff; }

.navbar-inverse .navbar-search-toggler {
  color: #fff; }

.navbar-inverse .navbar-search-toggler:hover {
  background-color: #d10e0f;
  color: #fff; }

.navbar-inverse .navbar-search-input {
  color: #fff; }
  .navbar-inverse .navbar-search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.75);
    opacity: 1; }
  .navbar-inverse .navbar-search-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75); }
  .navbar-inverse .navbar-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75); }

.navbar-inverse .navbar-search-adv-btn {
  color: #fff; }

.navbar-inverse .sidenav-toggler.collapsed {
  background-color: #d10e0f; }

.sidenav-search .form-group {
  margin-bottom: 0; }

.layout-content-body {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  float: left;
  padding: 15px 15px 35px;
  visibility: visible;
  width: 100%; }

.layout-footer-body {
  padding: 5px 15px; }

.title-bar {
  margin-bottom: 10px; }

.title-bar-title {
  display: block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden; }

.title-bar-actions {
  float: right; }

.title-bar-shortcut {
  color: inherit;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
  position: relative; }

.title-bar-shortcut:hover,
.title-bar-shortcut:focus {
  color: inherit;
  text-decoration: none; }

.title-bar-shortcut:before {
  color: transparent;
  content: "\f005";
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.title-bar-shortcut:after {
  content: "\f006";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%; }

.title-bar-shortcut:hover:before {
  color: #ffeb3b; }

.title-bar-shortcut.active:before,
.title-bar-shortcut.active:hover:before {
  color: #fbc02d; }

.title-bar-description {
  margin-bottom: 0;
  margin-top: -5px; }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent; }

.dropdown-menu.inner:before,
.dropdown-menu.inner:after {
  content: normal;
  display: none; }

.jqvmap-zoomin,
.jqvmap-zoomout {
  box-sizing: content-box; }

.img-flag {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 20px; }

.select2-dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0; }

.panel {
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .navbar-header {
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 220px; }
  .navbar-toggleable {
    margin-left: 220px;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s; }
  .navbar-default .navbar-nav > li {
    border-left: 1px solid #f6f6f6; }
  .navbar-inverse .navbar-nav > li {
    border-left: 1px solid #af0c0d; }
  .layout-sidebar-collapsed .navbar-header {
    overflow: hidden;
    width: 0; }
  .layout-sidebar-collapsed .navbar-toggleable {
    margin-left: 0; }
  .layout-sidebar-body {
    padding-bottom: 5px;
    padding-top: 5px; }
  .sidenav-collapse {
    display: block !important;
    height: auto !important; } }

@media (max-width: 767px) {
  .navbar-nav {
    margin: 10px; }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu .dropdown-btn {
    padding: 10px 15px; }
  .navbar-default .navbar-nav > li + li > a {
    border-top: 1px solid #f6f6f6; }
  .navbar-default .dropdown-heading {
    color: #777; }
  .navbar-default .dropdown-link {
    color: #777; }
  .navbar-default .dropdown-header {
    border-color: #f6f6f6;
    color: #222; }
  .navbar-default .dropdown-btn,
  .navbar-default .dropdown-btn:hover,
  .navbar-default .dropdown-btn:focus {
    background-color: #ddd;
    border-color: #f6f6f6;
    color: #222; }
  .navbar-default .notification-timestamp {
    color: rgba(119, 119, 119, 0.75); }
  .navbar-inverse .navbar-nav > li + li > a {
    border-top: 1px solid #af0c0d; }
  .navbar-inverse .dropdown-heading {
    color: #fff; }
  .navbar-inverse .dropdown-link {
    color: #fff; }
  .navbar-inverse .dropdown-header {
    border-color: #af0c0d;
    color: #fff; }
  .navbar-inverse .dropdown-btn,
  .navbar-inverse .dropdown-btn:hover,
  .navbar-inverse .dropdown-btn:focus {
    background-color: #d10e0f;
    border-color: #af0c0d;
    color: #fff; }
  .navbar-inverse .notification-timestamp {
    color: rgba(255, 255, 255, 0.75); } }
