.img-responsive {
  border-radius: 50%; }

.navbar-brand {
  padding-top: 0px !important; }
  .navbar-brand img {
    height: 40px !important;
    margin-top: 10px; }

.error-message {
  background-color: #f2dede;
  border-color: #b23030;
  color: #ff0000;
  padding: 10px;
  border: 1px solid;
  margin: 10px 0; }

.login {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  margin-left: 25%;
  margin-right: auto;
  max-width: 360px; }

.login-body {
  padding: 30px; }

.login-brand {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 140px; }

.login-footer {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center; }

@media (min-width: 768px) {
  .login-body {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px; } }

.lblSidebar {
  cursor: pointer; }

.modulos {
  padding-left: 0; }
  .modulos .modulos-item {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px; }
    .modulos .modulos-item:hover {
      background-color: #d8d8d8; }
    .modulos .modulos-item .modulos-submodulo {
      display: none; }
      .modulos .modulos-item .modulos-submodulo li {
        list-style: none; }

.lojas ul {
  list-style: none; }
  .lojas ul li.loja {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px; }
    .lojas ul li.loja ul {
      padding-right: 40px;
      padding-top: 20px; }
      .lojas ul li.loja ul li {
        text-align: center; }
    .lojas ul li.loja:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.54);
      -webkit-transition: box-shadow ease 0.2s;
      transition: box-shadow ease 0.2s; }
