@charset "UTF-8";
/*! vendor.css */
.bootstrap-table .table {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse !important;
  border-radius: 0;
  margin-bottom: 0 !important; }

.bootstrap-table .table:not(.table-condensed),
.bootstrap-table .table:not(.table-condensed) > tbody > tr > th,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > th,
.bootstrap-table .table:not(.table-condensed) > thead > tr > td,
.bootstrap-table .table:not(.table-condensed) > tbody > tr > td,
.bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
  padding: 8px; }

.bootstrap-table .table.table-no-bordered > thead > tr > th,
.bootstrap-table .table.table-no-bordered > tbody > tr > td {
  border-right: 2px solid transparent; }

.bootstrap-table .table.table-no-bordered > tbody > tr > td:last-child {
  border-right: none; }

.fixed-table-container {
  position: relative;
  clear: both;
  border: 1px solid #ddd;
  border-radius: #ddd; }

.fixed-table-container.table-no-bordered {
  border: 1px solid transparent; }

.fixed-table-footer,
.fixed-table-header {
  overflow: hidden; }

.fixed-table-footer {
  border-top: 1px solid #ddd; }

.fixed-table-body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%; }

.fixed-table-container table {
  width: 100%; }

.fixed-table-container thead th {
  height: 0;
  padding: 0;
  margin: 0;
  border-left: 1px solid #ddd; }

.fixed-table-container thead th:focus {
  outline: 0 solid transparent; }

.fixed-table-container thead th:first-child {
  border-left: none;
  border-top-left-radius: 0; }

.fixed-table-container thead th .th-inner,
.fixed-table-container tbody td .th-inner {
  padding: 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.fixed-table-container thead th .sortable {
  cursor: pointer;
  padding-right: 30px;
  position: relative; }
  .fixed-table-container thead th .sortable:after {
    bottom: 8px;
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    position: absolute;
    right: 4px;
    text-align: center;
    width: 20px; }

.fixed-table-container thead th .both:after {
  color: #808080;
  content: "\f0dc"; }

.fixed-table-container thead th .asc:after {
  color: #C00D0E;
  content: "\f0de"; }

.fixed-table-container thead th .desc:after {
  color: #C00D0E;
  content: "\f0dd"; }

.fixed-table-container th.detail {
  width: 30px; }

.fixed-table-container tbody td {
  border-left: 1px solid #ddd; }

.fixed-table-container tbody tr:first-child td {
  border-top: none; }

.fixed-table-container tbody td:first-child {
  border-left: none; }

/* the same color with .active */
.fixed-table-container tbody .selected td {
  background-color: #f5f5f5; }

.fixed-table-container .bs-checkbox {
  text-align: center; }

.fixed-table-container .bs-checkbox .th-inner {
  padding: 8px 0; }

.fixed-table-container input[type="radio"],
.fixed-table-container input[type="checkbox"] {
  margin: 0 auto !important; }

.fixed-table-container .no-records-found {
  text-align: center; }

.fixed-table-pagination div.pagination,
.fixed-table-pagination .pagination-detail {
  margin-top: 10px;
  margin-bottom: 10px; }

.fixed-table-pagination div.pagination .pagination {
  margin: 0; }

.fixed-table-pagination .pagination a {
  padding: 6px 12px;
  line-height: 1.428571429; }

.fixed-table-pagination .pagination-info {
  line-height: 34px;
  margin-right: 5px; }

.fixed-table-pagination .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.fixed-table-pagination .dropup .dropdown-menu {
  margin-bottom: 0; }

.fixed-table-pagination .page-list {
  display: inline-block; }

.fixed-table-toolbar .columns-left {
  margin-right: 5px; }

.fixed-table-toolbar .columns-right {
  margin-left: 5px; }

.fixed-table-toolbar .columns label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429; }

.fixed-table-toolbar .bs-bars,
.fixed-table-toolbar .search,
.fixed-table-toolbar .columns {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 34px; }

.fixed-table-pagination li.disabled a {
  pointer-events: none;
  cursor: default; }

.fixed-table-loading {
  background-color: #fff;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 42px;
  z-index: 99; }

.fixed-table-body .card-view .title {
  font-weight: bold;
  display: inline-block;
  min-width: 30%;
  text-align: left !important; }

/* support bootstrap 2 */
.fixed-table-body thead th .th-inner {
  box-sizing: border-box; }

.table th, .table td {
  vertical-align: middle;
  box-sizing: border-box; }

.fixed-table-toolbar .dropdown-menu {
  text-align: left;
  max-height: 300px;
  overflow: auto; }

.fixed-table-toolbar .btn-group > .btn-group {
  display: inline-block;
  margin-left: -1px !important; }

.fixed-table-toolbar .btn-group > .btn-group > .btn {
  border-radius: 0; }

.fixed-table-toolbar .btn-group > .btn-group:first-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.fixed-table-toolbar .btn-group > .btn-group:last-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.bootstrap-table .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd; }

/* support bootstrap 3 */
.bootstrap-table .table thead > tr > th {
  padding: 0;
  margin: 0; }

.bootstrap-table .fixed-table-footer tbody > tr > td {
  padding: 0 !important; }

.bootstrap-table .fixed-table-footer .table {
  border-bottom: none;
  border-radius: 0;
  padding: 0 !important; }

.pull-right .dropdown-menu {
  right: 0;
  left: auto; }

/* calculate scrollbar width */
p.fixed-table-scroll-inner {
  width: 100%;
  height: 200px; }

div.fixed-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden; }

.cropper {
  position: relative; }

.cropper-toolbar {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  bottom: 15px;
  display: block;
  left: 50%;
  margin-bottom: 0;
  margin-right: -50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000; }
  .cropper-toolbar .btn {
    border: none;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0;
    width: 36px; }

.table.dataTable {
  border-collapse: separate;
  clear: both;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: none; }
  .table.dataTable > thead > tr > th,
  .table.dataTable > thead > tr > td,
  .table.dataTable > tbody > tr > th,
  .table.dataTable > tbody > tr > td,
  .table.dataTable > tfoot > tr > th,
  .table.dataTable > tfoot > tr > td {
    box-sizing: content-box;
    outline: none; }
  .table.dataTable .sorting,
  .table.dataTable .sorting_asc,
  .table.dataTable .sorting_desc {
    cursor: pointer;
    position: relative;
    white-space: nowrap; }
    .table.dataTable .sorting:after,
    .table.dataTable .sorting_asc:after,
    .table.dataTable .sorting_desc:after {
      display: inline-block;
      font-family: FontAwesome;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      margin-left: 5px;
      text-align: center;
      width: 20px; }
  .table.dataTable .sorting_asc,
  .table.dataTable .sorting_desc {
    border-bottom-color: #C00D0E;
    color: #C00D0E; }
  .table.dataTable .sorting:after {
    color: #808080;
    content: "\f0dc"; }
  .table.dataTable .sorting_asc:after {
    color: #C00D0E;
    content: "\f0de"; }
  .table.dataTable .sorting_desc:after {
    color: #C00D0E;
    content: "\f0dd"; }

.dataTables_length {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left; }
  .dataTables_length > label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap; }
    .dataTables_length > label > select {
      display: inline-block;
      width: 75px; }
  @media screen and (max-width: 767px) {
    .dataTables_length {
      text-align: center; } }

.dataTables_filter {
  text-align: right; }
  .dataTables_filter > label {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    font-weight: normal;
    position: relative;
    text-shadow: none; }
    .dataTables_filter > label:after {
      color: #ddd;
      content: "\f002";
      display: block;
      font-family: FontAwesome;
      font-size: 13px;
      height: 30px;
      left: 0;
      line-height: 30px;
      margin-left: 1px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 0;
      width: 30px;
      z-index: 5; }
    .dataTables_filter > label > input {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      padding-left: 30px;
      width: auto; }
    @media screen and (max-width: 767px) {
      .dataTables_filter > label {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px; }
        .dataTables_filter > label > input {
          display: block;
          width: 100%; } }

.dataTables_info {
  line-height: 30px;
  white-space: nowrap; }
  @media screen and (max-width: 767px) {
    .dataTables_info {
      text-align: center; } }

.dataTables_paginate {
  margin-top: 5px;
  text-align: right;
  white-space: nowrap; }
  .dataTables_paginate .pagination {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap; }
  @media screen and (max-width: 767px) {
    .dataTables_paginate {
      margin-top: 10px;
      text-align: center; } }

.dataTables_processing {
  left: 50%;
  margin-left: -100px;
  margin-top: -26px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px; }

.table-bordered.dataTable > thead > tr > th,
.table-bordered.dataTable > thead > tr > td,
.table-bordered.dataTable > tbody > tr > th,
.table-bordered.dataTable > tbody > tr > td,
.table-bordered.dataTable > tfoot > tr > th,
.table-bordered.dataTable > tfoot > tr > td {
  border-left-width: 0; }
  .table-bordered.dataTable > thead > tr > th:last-child,
  .table-bordered.dataTable > thead > tr > td:last-child,
  .table-bordered.dataTable > tbody > tr > th:last-child,
  .table-bordered.dataTable > tbody > tr > td:last-child,
  .table-bordered.dataTable > tfoot > tr > th:last-child,
  .table-bordered.dataTable > tfoot > tr > td:last-child {
    border-right-width: 0; }

.table-bordered.dataTable > tbody > tr > th,
.table-bordered.dataTable > tbody > tr > td {
  border-bottom-width: 0; }

.table-bordered.dataTable .sorting,
.table-bordered.dataTable .sorting_asc,
.table-bordered.dataTable .sorting_desc {
  border-color: #ddd;
  padding-right: 30px; }
  .table-bordered.dataTable .sorting:after,
  .table-bordered.dataTable .sorting_asc:after,
  .table-bordered.dataTable .sorting_desc:after {
    bottom: 8px;
    display: block;
    position: absolute;
    right: 4px; }

.dataTables_scrollHead .table {
  margin-bottom: 0; }
  .dataTables_scrollHead .table.table-bordered {
    border-bottom-width: 0; }

.dataTables_scrollBody .table {
  border-top: none;
  margin-bottom: 0;
  margin-top: 0; }
  .dataTables_scrollBody .table > tbody > tr:first-child > td,
  .dataTables_scrollBody .table > tbody > tr:first-child > td {
    border-top: none; }
  .dataTables_scrollBody .table .sorting:after,
  .dataTables_scrollBody .table .sorting_asc:after,
  .dataTables_scrollBody .table .sorting_desc:after {
    display: none; }

.dataTables_scrollFoot .table {
  border-top: none;
  margin-top: 0; }

.table-responsive > .dataTables_wrapper > .row {
  margin-left: 0;
  margin-right: 0; }
  .table-responsive > .dataTables_wrapper > .row > [class^="col-"]:first-child {
    padding-left: 0; }
  .table-responsive > .dataTables_wrapper > .row > [class^="col-"]:last-child {
    padding-right: 0; }

.dt-button-info {
  background-color: #fff;
  border: 2px solid #C00D0E;
  border-radius: 0;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 400px;
  z-index: 21; }
  .dt-button-info h2 {
    margin-bottom: 10px;
    margin-top: 0; }

.dt-button-collection.dropdown-menu {
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  display: block;
  z-index: 2002; }
  .dt-button-collection.dropdown-menu > li:not(.active) > a {
    background-color: transparent;
    color: #444; }

.dt-button-collection.dropdown-menu.fixed {
  border-radius: 0;
  left: 50%;
  margin-left: -75px;
  position: fixed;
  top: 50%; }
  .dt-button-collection.dropdown-menu.fixed.two-column {
    margin-left: -150px; }
  .dt-button-collection.dropdown-menu.fixed.three-column {
    margin-left: -225px; }
  .dt-button-collection.dropdown-menu.fixed.four-column {
    margin-left: -300px; }

.dt-button-collection.dropdown-menu > * {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid; }

.dt-button-collection.dropdown-menu.two-column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  padding-bottom: 1px;
  width: 300px; }

.dt-button-collection.dropdown-menu.three-column {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  padding-bottom: 1px;
  width: 450px; }

.dt-button-collection.dropdown-menu.four-column {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  padding-bottom: 1px;
  width: 600px; }

.dt-button-background {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2001; }

@media screen and (max-width: 767px) {
  .dt-buttons {
    float: none;
    margin-bottom: 5px;
    text-align: center;
    width: 100%; }
    .dt-buttons > a.btn {
      float: none; } }

.dataTable.DTCR_clonedTable {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 202; }

.DTCR_pointer {
  background-color: #C00D0E;
  width: 1px;
  z-index: 201; }

.dataTable.fixedHeader-floating,
.dataTable.fixedHeader-locked {
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 0; }

.dataTable.fixedHeader-floating {
  position: fixed; }

.dataTable.fixedHeader-locked {
  position: absolute; }

@media print {
  .dataTable.fixedHeader-floating {
    display: none; } }

.dtr-inline.collapsed > tbody > tr > td.child,
.dtr-inline.collapsed > tbody > tr > th.child,
.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default; }
  .dtr-inline.collapsed > tbody > tr > td.child:before,
  .dtr-inline.collapsed > tbody > tr > th.child:before,
  .dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
    display: none; }

.dtr-inline.collapsed > tbody > tr > td:first-child,
.dtr-inline.collapsed > tbody > tr > th:first-child {
  cursor: pointer;
  padding-left: 30px;
  position: relative; }
  .dtr-inline.collapsed > tbody > tr > td:first-child:before,
  .dtr-inline.collapsed > tbody > tr > th:first-child:before {
    color: #808080;
    content: "\f196";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 16px;
    left: 5px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 16px; }

.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: "\f147"; }

.dtr-inline.collapsed > tbody > tr.child > td:before,
.dtr-inline.collapsed > tbody > tr.child > th:before {
  display: none; }

.dtr-inline.collapsed > tbody > tr.child > td > ul,
.dtr-inline.collapsed > tbody > tr.child > th > ul {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.dtr-inline.collapsed > tbody > tr.child > td > ul > li,
.dtr-inline.collapsed > tbody > tr.child > th > ul > li {
  display: table-row; }

.dtr-inline.collapsed > tbody > tr.child > td .dtr-title,
.dtr-inline.collapsed > tbody > tr.child > th .dtr-title {
  display: table-cell;
  font-weight: 500;
  padding-right: 16px;
  white-space: nowrap;
  width: 1%; }

.dtr-inline.collapsed > tbody > tr.child > td .dtr-data,
.dtr-inline.collapsed > tbody > tr.child > th .dtr-data {
  display: table-cell;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 99%; }

.dtr-column > tbody > tr > td.control,
.dtr-column > tbody > tr > th.control {
  cursor: pointer;
  position: relative; }

.dtr-column > tbody > tr > td.control:before,
.dtr-column > tbody > tr > th.control:before {
  color: #808080;
  content: "\f196";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 16px;
  left: 5px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 16px; }

.dtr-column > tbody > tr.parent > td.control:before,
.dtr-column > tbody > tr.parent > th.control:before {
  content: "\f147"; }

.dtr-column > tbody > tr.child {
  padding: 10px 15px; }
  .dtr-column > tbody > tr.child:hover {
    background-color: transparent; }
  .dtr-column > tbody > tr.child > td.control:before,
  .dtr-column > tbody > tr.child > th.control:before {
    display: none; }

.dataTable.dt-rowReorder > tbody > tr > td:first-child,
.dataTable.dt-rowReorder > tbody > tr > th:first-child {
  white-space: nowrap; }
  .dataTable.dt-rowReorder > tbody > tr > td:first-child:before,
  .dataTable.dt-rowReorder > tbody > tr > th:first-child:before {
    color: #808080;
    content: "\f0c9";
    cursor: move;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px; }

.dataTable.dt-rowReorder-float {
  opacity: 0.8;
  outline: 2px solid #C00D0E;
  outline-offset: -2px;
  position: absolute !important;
  table-layout: fixed;
  z-index: 2001; }

.dt-rowReorder-moving {
  outline: 2px solid #444;
  outline-offset: -2px; }

.dt-rowReorder-noOverflow {
  overflow-x: hidden; }

.dataTable td.reorder {
  cursor: move;
  text-align: center; }

.DTS {
  display: block; }
  .DTS .table > tbody > tr > th,
  .DTS .table > tbody > tr > td {
    white-space: nowrap; }
  .DTS .DTS_Loading {
    z-index: 1; }
  .DTS .dataTables_scrollBody {
    background: -webkit-repeating-linear-gradient(45deg, #f9f9f9, #f9f9f9 10px, #fff 10px, #fff 20px);
    background: repeating-linear-gradient(45deg, #f9f9f9, #f9f9f9 10px, #fff 10px, #fff 20px); }
  .DTS .dataTables_scrollBody .table {
    z-index: 2; }
  .DTS .dataTables_paginate,
  .DTS .dataTables_length {
    display: none; }

div.DTS tbody tr.even {
  background-color: #fff; }

.datepicker {
  border-radius: 0;
  direction: ltr;
  padding: 5px; }
  .datepicker table {
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .datepicker table tr th,
  .datepicker table tr td {
    border: none;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    width: 30px; }
  .datepicker table tr td.old, .datepicker table tr td.new {
    color: #808080; }
  .datepicker table tr td.highlighted, .datepicker table tr td.range {
    border-radius: 0; }
  .datepicker table tr td.day:hover, .datepicker table tr td.focused {
    background-color: #C00D0E;
    color: #fff;
    cursor: pointer; }
  .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background-color: transparent;
    color: #808080;
    cursor: default; }

.datepicker table tr span {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  float: left;
  height: 54px;
  line-height: 54px;
  margin: 1%;
  width: 23%; }
  .datepicker table tr span.old, .datepicker table tr span.new {
    color: #808080; }
  .datepicker table tr span:hover, .datepicker table tr span.focused {
    background-color: #C00D0E;
    color: #fff; }
  .datepicker table tr span.active {
    background-color: #C00D0E;
    color: #fff; }
    .datepicker table tr span.active:hover {
      background-color: #900a0b;
      color: #fff; }
  .datepicker table tr span.disabled, .datepicker table tr span.disabled:hover {
    background-color: transparent;
    color: #808080;
    cursor: default; }

.datepicker-rtl {
  direction: rtl; }
  .datepicker-rtl table tr span {
    float: right; }

.datepicker .datepicker-switch {
  width: 150px; }

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker .today,
.datepicker .clear {
  cursor: pointer; }
  .datepicker .datepicker-switch:hover,
  .datepicker .next:hover,
  .datepicker .prev:hover,
  .datepicker .today:hover,
  .datepicker .clear:hover {
    background-color: #C00D0E;
    color: #fff; }

.datepicker .cw {
  font-size: 10px;
  padding: 0 5px;
  vertical-align: middle;
  width: 12px; }

.datepicker-inline {
  width: 220px; }

.dropdown-menu.datepicker-orient-top:before {
  border-top-color: #ddd;
  top: 100%; }

.dropdown-menu.datepicker-orient-top:after {
  border-top-color: #fff;
  top: 100%;
  margin-top: -1px; }

.dropdown-menu.datepicker-orient-right:before,
.dropdown-menu.datepicker-orient-right:after {
  left: auto;
  right: 7px; }

.dropdown-menu.datepicker-orient-bottom:before {
  border-bottom-color: #ddd;
  bottom: 100%; }

.dropdown-menu.datepicker-orient-bottom:after {
  border-bottom-color: #fff;
  bottom: 100%;
  margin-bottom: -1px; }

.dropdown-menu.datepicker-orient-left:before,
.dropdown-menu.datepicker-orient-left:after {
  left: 7px;
  right: auto; }

.datepicker table tr td.highlighted {
  background-color: #029acf;
  color: #fff; }
  .datepicker table tr td.highlighted:hover {
    background-color: #02749c;
    color: #fff; }
  .datepicker table tr td.highlighted.disabled, .datepicker table tr td.highlighted.disabled:hover {
    background-color: #029acf;
    color: #808080; }

.datepicker table tr td.today {
  background-color: #9b479f;
  color: #fff; }
  .datepicker table tr td.today:hover {
    background-color: #79377c;
    color: #fff; }
  .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    background-color: #9b479f;
    color: #808080; }

.datepicker table tr td.range {
  background-color: #ddd;
  color: #777; }
  .datepicker table tr td.range:hover {
    background-color: #c4c4c4;
    color: #777; }
  .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover {
    background-color: #ddd;
    color: #808080; }

.datepicker table tr td.range.highlighted {
  background-color: #70bcd6;
  color: #000; }
  .datepicker table tr td.range.highlighted:hover {
    background-color: #48a9cb;
    color: #000; }
  .datepicker table tr td.range.highlighted.disabled, .datepicker table tr td.range.highlighted.disabled:hover {
    background-color: #70bcd6;
    color: #808080; }

.datepicker table tr td.range.today {
  background-color: #bc92be;
  color: #000; }
  .datepicker table tr td.range.today:hover {
    background-color: #a872ab;
    color: #000; }
  .datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:hover {
    background-color: #bc92be;
    color: #808080; }

.datepicker table tr td.selected {
  background-color: #777;
  color: #fff; }
  .datepicker table tr td.selected:hover {
    background-color: #5e5e5e;
    color: #fff; }
  .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #777;
    color: #808080; }

.datepicker table tr td.active {
  background-color: #C00D0E;
  color: #fff; }
  .datepicker table tr td.active:hover {
    background-color: #900a0b;
    color: #fff; }
  .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: #C00D0E;
    color: #808080; }

.input-daterange {
  width: 100%; }
  .input-daterange .form-control {
    text-align: center; }
  .input-daterange .input-group-addon {
    border-width: 1px 0;
    cursor: pointer;
    min-width: 16px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto; }

.slider {
  direction: ltr;
  position: relative; }
  .slider,
  .slider * {
    -ms-touch-action: none;
        touch-action: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.slider-base {
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 1; }

.slider-origin {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.slider-background {
  background-color: #f5f5f5; }

.slider-connect {
  -webkit-transition: background-color 0.45s;
  transition: background-color 0.45s; }

.slider-handle {
  border: 2px solid transparent;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1; }

.slider-circle .slider-handle {
  border-radius: 50%; }

.slider-stacking .slider-handle {
  z-index: 10; }

.slider-state-tap .slider-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s; }

.slider-state-drag * {
  cursor: inherit !important; }

.slider-horizontal {
  display: block;
  height: 2px;
  margin: 20px 0; }
  .slider-horizontal .slider-handle {
    height: 12px;
    left: -6px;
    top: -5px;
    width: 12px; }
  .slider-horizontal .slider-draggable {
    cursor: w-resize; }

.slider-vertical {
  display: inline-block;
  margin: 0 20px;
  width: 2px; }
  .slider-vertical .slider-handle {
    height: 12px;
    left: -5px;
    top: -6px;
    width: 12px; }
  .slider-vertical .slider-draggable {
    cursor: n-resize; }

.slider-default .slider-connect, .slider-default.slider-connect {
  background-color: #777; }

.slider-default .slider-handle {
  background-color: #777;
  border-color: #777; }

.slider-primary .slider-connect, .slider-primary.slider-connect {
  background-color: #C00D0E; }

.slider-primary .slider-handle {
  background-color: #C00D0E;
  border-color: #C00D0E; }

.slider-success .slider-connect, .slider-success.slider-connect {
  background-color: #469408; }

.slider-success .slider-handle {
  background-color: #469408;
  border-color: #469408; }

.slider-info .slider-connect, .slider-info.slider-connect {
  background-color: #029acf; }

.slider-info .slider-handle {
  background-color: #029acf;
  border-color: #029acf; }

.slider-warning .slider-connect, .slider-warning.slider-connect {
  background-color: #9b479f; }

.slider-warning .slider-handle {
  background-color: #9b479f;
  border-color: #9b479f; }

.slider-danger .slider-connect, .slider-danger.slider-connect {
  background-color: #C00D0E; }

.slider-danger .slider-handle {
  background-color: #C00D0E;
  border-color: #C00D0E; }

.slider-background[style^="top: 0"] .slider-handle,
.slider-background[style^="left: 0"] .slider-handle {
  background-color: #fff;
  border-color: #f5f5f5; }

.slider-connect[style^="top: 100"] .slider-handle,
.slider-connect[style^="left: 100"] .slider-handle {
  background-color: #fff;
  border-color: #f5f5f5; }

.slider-handle.slider-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.slider[disabled] .slider-connect, .slider[disabled].slider-connect {
  background-color: #808080; }

.slider[disabled] .slider-handle {
  background-color: #808080;
  border-color: #808080;
  cursor: not-allowed; }

.slider-tooltip {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0;
  display: block;
  font-size: 12px;
  padding: 2px 4px;
  position: absolute;
  text-align: center; }

.slider-horizontal .slider-tooltip {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.slider-horizontal .slider-handle-lower .slider-tooltip {
  bottom: 100%;
  margin-bottom: 5px; }

.slider-horizontal .slider-handle-upper .slider-tooltip {
  margin-top: 5px;
  top: 100%; }

.slider-vertical .slider-tooltip {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.slider-vertical .slider-handle-lower .slider-tooltip {
  left: 100%;
  margin-left: 5px; }

.slider-vertical .slider-handle-upper .slider-tooltip {
  margin-right: 5px;
  right: 100%; }

.slider-pips {
  position: absolute; }

.slider-value {
  color: #777;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  text-align: center; }

.slider-value-sub {
  color: #808080;
  font-size: 10px; }

.slider-marker {
  background-color: #808080;
  position: absolute; }

.slider-marker-sub,
.slider-marker-large {
  background-color: #777; }

.slider-pips-horizontal {
  left: 0;
  min-height: 52px;
  padding: 10px 0;
  top: 100%;
  width: 100%; }
  .slider-pips-horizontal .slider-value {
    margin-left: -20px;
    padding-top: 20px;
    width: 40px; }
    @media (max-width: 992px) {
      .slider-pips-horizontal .slider-value {
        display: none; } }
  .slider-pips-horizontal .slider-value-sub {
    padding-top: 15px; }
  .slider-pips-horizontal .slider-marker {
    height: 5px;
    width: 1px; }
  .slider-pips-horizontal .slider-marker-sub {
    height: 10px; }
  .slider-pips-horizontal .slider-marker-large {
    height: 15px; }

.slider-pips-vertical {
  height: 100%;
  left: 100%;
  min-width: 52px;
  padding: 0 10px;
  top: 0; }
  .slider-pips-vertical .slider-value {
    margin-left: 20px;
    margin-top: -6px;
    width: 15px; }
  .slider-pips-vertical .slider-value-sub {
    margin-top: -5px; }
  .slider-pips-vertical .slider-marker {
    height: 1px;
    width: 5px; }
  .slider-pips-vertical .slider-marker-sub {
    width: 10px; }
  .slider-pips-vertical .slider-marker-large {
    width: 15px; }

.ui-timepicker-wrapper {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  float: left;
  height: 162px;
  min-width: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0;
  z-index: 1000; }

.ui-timepicker-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.ui-timepicker-am,
.ui-timepicker-pm {
  color: #444;
  cursor: pointer;
  display: block;
  line-height: 1.53846;
  padding: 5px 15px;
  white-space: nowrap; }
  .ui-timepicker-am:hover,
  .ui-timepicker-pm:hover {
    background-color: #C00D0E;
    color: #fff; }

.ui-timepicker-selected,
.ui-timepicker-selected:hover {
  background-color: #C00D0E;
  color: #fff; }

.ui-timepicker-duration {
  margin-left: 5px; }

.ui-timepicker-selected .ui-timepicker-duration {
  color: #fff; }

.ui-timepicker-disabled,
.ui-timepicker-disabled:hover {
  background-color: transparent;
  color: #808080;
  cursor: default; }

.toast {
  background-position: 13px 15px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border-radius: 0;
  box-shadow: 0 0 3px #999;
  color: #fff;
  margin-bottom: 6px;
  overflow: hidden;
  padding: 15px 15px 15px 50px;
  position: relative;
  width: 300px; }
  .toast:last-child {
    margin-bottom: 0; }
  .toast:hover {
    box-shadow: 0 0 4px #999;
    cursor: pointer;
    opacity: 1; }
  @media (max-width: 480px) {
    .toast {
      width: 100%; } }

.toast-title {
  font-weight: 700; }

.toast-message {
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #fff; }

.toast-message a:hover {
  text-decoration: none; }

.toast-close-button {
  background-color: transparent;
  background-image: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
  padding: 0;
  position: relative;
  right: -0.3em;
  text-align: center;
  top: -0.3em;
  -webkit-appearance: none; }
  .toast-close-button:hover, .toast-close-button:focus {
    opacity: 1; }

.toast-progress {
  background-color: #f5f5f5;
  bottom: 0;
  height: 4px;
  left: 0;
  opacity: 0.5;
  position: absolute; }

#toast-container {
  position: fixed;
  z-index: 1080; }
  @media (max-width: 480px) {
    #toast-container {
      left: 12px;
      right: 12px; } }

.toast-top-left {
  left: 12px;
  top: 12px; }

.toast-top-center {
  right: 0;
  top: 12px;
  width: 100%; }

.toast-top-right {
  right: 12px;
  top: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

.toast-bottom-center {
  bottom: 12px;
  right: 0;
  width: 100%; }

.toast-bottom-right {
  bottom: 12px;
  right: 12px; }

.toast-top-center > .toast,
.toast-bottom-center > .toast {
  margin-left: auto;
  margin-right: auto; }

.toast-top-full-width {
  left: 12px;
  right: 12px;
  top: 12px; }
  .toast-top-full-width > .toast {
    width: 100%; }

.toast-bottom-full-width {
  bottom: 12px;
  left: 12px;
  right: 12px; }
  .toast-bottom-full-width > .toast {
    width: 100%; }

.toast-success {
  background-color: #469408;
  background-image: svg-load(check.svg, fill: #fff);
  color: #fff; }

.toast-info {
  background-color: #029acf;
  background-image: svg-load(info.svg, fill: #fff);
  color: #fff; }

.toast-warning {
  background-color: #9b479f;
  background-image: svg-load(lightbulb.svg, fill: #fff);
  color: #fff; }

.toast-error {
  background-color: #C00D0E;
  background-image: svg-load(exclamation.svg, fill: #fff);
  color: #fff; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }
