$border-error: #b23030;
$background-error: #f2dede;
$color-error: #ff0000;

.img-responsive{
    border-radius: 50%;
}
.navbar-brand {
    padding-top: 0px!important;
    & img{
        height: 40px!important;
        margin-top: 10px;
    }
}

.error-message{
    background-color: $background-error;
    border-color: $border-error;
    color: $color-error;
    padding: 10px;
    border: 1px solid;
    margin: 10px 0;
}

.login {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  margin-left: 25%;
  margin-right: auto;
  max-width: 360px;
}
.login-body {
  padding: 30px;
}
.login-brand {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}
.login-footer {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .login-body {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.lblSidebar{
    cursor:pointer;
}

.modulos{
  padding-left: 0;
  & .modulos-item{
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
    &:hover{
      background-color: #d8d8d8;
    }
    & .modulos-submodulo{
      display:none;
      & li{
        list-style:none;
      }
    }
  }
}

.lojas{
    & ul{
        list-style: none;
        & li.loja{
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            & ul{
                padding-right: 40px;
                padding-top: 20px;
                & li{
                    text-align: center;
                }
            }
            &:hover{
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.54);
                transition: box-shadow ease 0.2s;
            }
        }
    }
}