<div class="lojas">
    <ul>
        <li ng-repeat="loja in lojas" class="loja">
            <ul>                
                <li class="imgLoja"><img ng-src="{{loja.image}}"></li>
                <li class="nomeLoja">
                    <h3>{{loja.name}}</h3>
                </li>
                <li class="descLoja">
                    <p>{{loja.description}}</p>
                </li>
            </ul>
        </li>
    </ul>
</div>