<div class="login">
  <div class="login-body">
    <a class="login-brand" href="index.html">
      <img class="img-responsive" src="img/logo.jpg" alt="Joox">
    </a>
    <span ng-show="message" class="error-message col-xs-12">
        {{message}}
        <span class="pull-right">
            <i class="fa fa-times"></i>
        </span>
    </span>
    <div class="login-form">
      <form data-toggle="validator" method="post">
        <div class="form-group">
            <label>Login</label>
            <input class="form-control" type="text" name="email" ng-model="email" spellcheck="false" data-msg-required="Por favor digite seu login" required>
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input class="form-control" type="password" name="password" ng-model="password" minlength="6" data-msg-minlength="Senha deve ter mais de 6 caracteres" data-msg-required="Por favor digite sua senha" required >
        </div>
        <button class="btn btn-primary btn-block" type="submit" ng-click='logIn(email, password)'>Entrar</button>
      </form>
    </div>
  </div>
</div>
