// Grid gutters
@mixin make-grid-gutters($gutters: $grid-gutters) {
  $i: 1; $cols: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";

  @for $i from (1 + 1) through $grid-columns {
    $cols: "#{$cols}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }

  @each $modifier, $gutter in $gutters {
    .row.gutter-#{$modifier} {
      margin-left:  -($gutter / 2);
      margin-right: -($gutter / 2);

      & > {
        #{$cols} {
          padding-left:  ($gutter / 2);
          padding-right: ($gutter / 2);
        }
      }
    }
  }
}
