<!DOCTYPE html>
<html lang="pt-BR" ng-app="Joox">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGO - Daruix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link type="image/x-icon" rel="shortcut icon" href="img/mini_logo.png">
    <link rel="stylesheet" href="vendor/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!--build:elephant-->
    <link rel="stylesheet" href="css/elephant.css">
    <!--endbuild-->
    <!--build:application-->
    <link rel="stylesheet" href="css/application.css">
    <!--endbuild-->
    <!--build:vendor-->
    <link rel="stylesheet" href="css/vendor.css">
    <!--endbuild-->
    <!--build:css-->
    <link rel="stylesheet" href="css/style.css">
    <!--endbuild-->
  </head>
  <body class="layout layout-header-fixed layout-sidebar-fixed">
    <div class="layout-header"  ng-show="usuarioLogado">
      <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                <img src="img/logo-joox.png">
            </a>
        </div>
        <div class="navbar-toggleable">
          <nav id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="visible-xs-block">
                <h4 class="navbar-text text-center">Olá, {{usuarioLogado}}</h4>
              </li>
              <li class="dropdown hidden-xs">
                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                  <i class="fa fa-user"></i>
                    {{usuarioLogado}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="profile.html">Meu Perfil</a></li>
                  <li class="divider"></li>
                  <li ng-controller="LoginController"><a ng-click="logOut()">Sair</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <div class="layout-sidebar" ng-show="usuarioLogado">
        <div class="layout-sidebar-backdrop"></div>
        <div class="custom-scrollbar">
          <div class="layout-sidebar-body">
            <div class="custom-scrollbar">
              <nav id="sidenav" class="">
                <ul class="sidenav">
                  <li class="sidenav-item">
                    <a>
                      <span class="sidenav-icon"><i class="fa fa-building-o"></i></span>
                      <span class="sidenav-label lblSidebar">Lista de Lojas</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>        
        </div>
      </div>
      <div class="layout-content">
        <div class="layout-content-body">
           <ng-view></ng-view>
        </div>
      </div>
    </div>

    <footer>
        <div class="layout-footer">
            <div class="layout-footer-body">
              <small>Desenvolvido por <a href="http://daruixtecnologia.com.br">Daruix Tecnologia</a>.</small>
            </div>
        </div>
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/moment/min/moment.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/elephant.js"></script>
        <script src="js/application.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular-resource/angular-resource.min.js"></script>
        <script src="vendor/angular-route/angular-route.min.js"></script>
        <script src="vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="vendor/angular-input-masks/angular-input-masks-dependencies.js"></script>
        <script src="vendor/angular-input-masks/angular-input-masks.br.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.5/angular-locale_pt-br.js"></script>
        <script src="vendor/moment/locale/pt-br.js"></script>
        <script src="vendor/ngSweetAlert/SweetAlert.min.js"></script>
        <script src="vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="vendor/checklist-model/checklist-model.js"></script>
        <script src="vendor/jquery-mask-plugin/dist/jquery.mask.js"></script>
        <script src="vendor/angularUtils-pagination/dirPagination.js"></script>
        <script src="vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

        <!-- IMPORTAÇÃO ANGULAR - SERVICES -->
        <script src="js/main.js"></script>
        <script src="js/service/TokenInterceptor.js"></script>
        <script src="js/service/AuthenticationService.js"></script>
        <script src="js/service/LoginService.js"></script>
        <script src="js/service/HomeService.js"></script>


        <!-- IMPORTAÇÃO ANGULAR - CONTROLLERS -->
        <script src="js/controllers/HomeController.js"></script>
        <script src="js/controllers/LoginController.js"></script>
    </footer>
  </body>
</html>
